* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    background: skyblue;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    width: 100%;
    height: 50px;
    background: pink;
}

.section {
    flex: 1;
    overflow: hidden;
}